<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hola, {{name}}!</p>
        <p>Tu contraseña ha sido actualizada exitosamente.</p>
        <p>Ya podes volver a la plataforma e ingresar con tus nuevos datos:</p>
        <a href="{{link}}" target="_blank">Acceder a Antecedentes Laborales</a>
        <br>
        <br>
        <p>Saludos!</p>
    </body>
</html>