<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hola, {{name}}!</p>
        <p>Te damos la bienvenida a Antecedetes Laborales. Gracias por acceder.</p>
        <br>
        <br>
        <br>
        <p>Saludos!</p>
    </body>
</html>